@font-face {
    font-family: "Charmonman";
    src: url("../src/Charmonman/Charmonman-Bold.ttf");
}

:root {
    --marine-blue: #213468;
    --dark-gray: #444444;
    --light-gray: #FBFBFB;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--light-gray);
    margin: 0;
}

div#container {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./images/05c127fa785b303592bbb69de9172ae7.jpg");
    background-position: bottom left;
    height: max(15vh, 80px);
    box-shadow: 2px 2px 2px var(--dark-gray);
}

header h1 {
    font-family: "Charmonman";
    color: #d10208;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    text-shadow: 3px 3px 1.5px white,
        3px -3px 1.5px white,
        -3px 3px 1.5px white,
        -3px -3px 1.5px white;
}

header p {
    font-size: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5vw;
}

section > div {
    background-color: var(--marine-blue);
    color: white;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px var(--dark-gray);
    text-align: justify;
    margin-bottom: 1rem;
}

section > div:last-child {
    margin-bottom: 0;
}

section > div > h2 {
    font-family: "Charmonman";
    margin: 0;
}